.header{
  background-color: white;
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 40px;
  top:0px;
  left: 0px;
  z-index: 1000000;
}

.headerMenu{
  width: 100%;
}

.logo{
  padding: 15px;
  height: 32px;
}